<form method="POST" action="/create">
 <fieldset>
  <p><label>DiscoverWord</label><br/>
  <input type="text" name="text" placeholder="Search Word Search"></p>
 </fieldset>
 <input type="submit" value="Search">
</form>

<% for(var i=0; i< items.length;i++){ %>
<%= items[i] %><br/>
<% } %>