<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.  -->
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>top</title>
</head>
<body style="margin:0; padding:0; background:#1a1a1a">

<IMG src="/image/toppage.png" id="topimage" usemap="#menu"><BR>
<MAP name="menu">
<AREA shape="rect" coords="230, 367, 320, 456" href="http://net47-dhcp101.sfc.keio.ac.jp:3100/display-tablet/1">
<AREA shape="rect" coords="340, 367, 430, 456" href="http://net47-dhcp101.sfc.keio.ac.jp:3100/display-tablet/2">
<AREA shape="rect" coords="458, 367, 548, 456" href="http://net47-dhcp101.sfc.keio.ac.jp:3100/display-tablet/3">
<AREA shape="rect" coords="640, 367, 730, 456" href="http://net47-dhcp101.sfc.keio.ac.jp/">
</MAP>

  <script>
  document.getElementById("topimage").addEventListener("click", function(e) {
  	console.log(e);
  }, true);
  </script>

</body>
</html>
