<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>opinion space</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/processing-1.3.6.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <!--
    <div id="left-side">
    <img src="/image/logo.png" alt="Search-Word-Search" id="logo"/>
    <form method="POST" action="/create">
      <fieldset>
	<label>&nbsp;&nbsp;検索したい言葉を1語入れてボタンを押してください</label><br/>
	  &nbsp;&nbsp;<input type="text" name="text" placeholder="Search Word Search">
      </fieldset>
      <img src="/image/vector1.png" alt="vecror" id="vector1"/><br/>
      <button type="submit" name="Search" value="Search" id="search"><img src="/image/search.png"></button>
    </form>
    <br/><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;検索したい言葉をクリックしてボタンを押してください。<br/>
    <button type="button" value="Re-Search" id="search" onclick="linkgoogle()"><img src="/image/search.png"></button>
    <img src="/image/vector2.png" alt="vecror" id="vector2"/><br/>
    <br/>
    </div>
    -->

    <div id="recent">
      <label>最近検索された言葉</label>
      <ul>
        <% var wcount = items.length; %>
        <% if(items.length!=0){ %>
        <% if(items.length > 5){ %>
        <% var wcount = 6; %>
        <% } %>
        <% for(var i=1; i< wcount ;i++){ %>
     <% if (items[items.length-i].text) { %>
     <li><!--<a href=<%= "/wordsearch/?sword="+items[items.length-i].text %> >--><%= items[items.length-i].text %><!--</a>--></li>
     <% } %>
     <% } %>
     <% } %>
      </ul>
    </div>
    
    <div id="result">
      <% if(sword){ %>
      <div id="sword"><%= sword %></div>を検索しました
      <% } %>
      <ul>
        <% words.forEach(function(word){ %>
        <li><%= word %></li>
        <% }) %>
      </ul>
      <ul>
	<% color.forEach(function(scolor){ %>
	<li><%= scolor %></li>
	<% }) %>
      </ul>
      
    </div>

    <div id="back-button">
      <a href="http://net47-dhcp101.sfc.keio.ac.jp/home">Back to Home</a>
    </div>
    
    <div id="main-container">
      <canvas id="main-canvas" width="1024" height="768" data-processing-sources="processing/keyword_layout.pde processing/Edge_pde.pde processing/ForceEdge.pde processing/Graph.pde processing/Node.pde processing/SpringEdge.pde processing/Vector2D.pde"></canvas>
    </div>


    <div id="word-search-container">
      <form method="POST" action="/create">
        <input type="text" name="text" placeholder="Search Word Search">
        <button type="submit" name="Search" value="Search" id="search" onClick="loading()"></button>
      </form>
    </div>

    <div id="web-search-container">
      <button type="button" id="web-search" onclick="linkgoogle()">
    </div>
    
    <div id="web-contents-container">
      <iframe id="web-contents" src=""></iframe>
    </div>

<div id="loading"><img src="/image/loading.gif" /></div>
    
  </body>
</html>
