html{
    background-color : #000;
    border : none;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color : #fff;
    backgroud-color : #000;
    border : none;
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

li{
    list-style-type: none;
}

#main-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border : none;
    z-index: -1;
}

#main-canvas {
/*
    width: 100%;
    height: 100%;
*/
}

#word-search-container {
    position : absolute;
    top : 10px;
    left : 10px;
}

#web-search-container {
    position : absolute;
    bottom : 10px;
    right : 10px;
}

#recent {
    position : absolute;
    bottom : 0px;
    left : 10px;
}

#recent ul {
    padding-left: 1em;
}

#result{
    display : none;
    border : none;
}

#search{
    border : none;
    background: url(/image/icon01.png) no-repeat;
    height: 100px;
    width: 100px;
}

#web-search {
    border : none;
    background: url(/image/icon02.png) no-repeat;
    height: 100px;
    width: 100px;
}


#web-contents {
    background-color: rgba(255, 255, 255, 0.8);
    position : absolute;
    top : 0px;
    height : 100%;
    left : 0px;
    width: 0%;
    border : none;
 }

#back-button {
    position : absolute;
    top : 10px;
    right : 10px;
}

#back-button a{
    color : #fff;
}




#loading{
    position : absolute;
    top : 50%;
    left : 50%;
    display : none;
}