html{
    background-color : #000;
    border : none;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color : #fff;
    backgroud-color : #000;
    width : 100%;
    border : none;
}

a {
    color: #00B7FF;
}

li{
    list-style-type: none;
}

#left-side {
    position: absolute;
    top: 0;
    left: 0;
    border : none;
}

#main-container{
    position : absolute;
    top : 0px;
    left : 200px;
    z-index : -1;
    border : none;
}

#result{
    display : none;
}

#web-contents {
    background-color: rgba(255, 255, 255, 0.8);
    position : absolute;
    top : 0px;
    height : 100%;
    left : 0px;
    width: 0%;
    border : none;
}

button#search{
    background-color : #000;
    border : none;
     }

button#search img{
    margin : 0 0 0 25px;
    width :100px;
}

img#vector1{
//    width :100px;
    }

img#vector2{
//    width :100px;
    }

img#logo{
    //height : 80px;
margin : 0 0 0 25px;
}

fieldset {
border: none;
}